/* Begin Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */

/* Begin Main Stylesheet */

@media all and (max-width: 940px) {
  .crs-logospace {
	left: 20px !important;
  }
}

/*
#@media all and (max-width: 860px) {
#  .crs-logospace {
#	display: none !important;
#  }
#}
*/

@media all and (max-width: 840px) {
  .crs-logospace {
    top: 0px !important;
  }

  .crs-article {
	width: 100% !important;
  }

  .crs-header, .crs-navlist, .crs-navlist-item-a, .crs-navlist-item-rightend  {
	height: 70px !important;
	margin: 0 !important;
  }

  .crs-navlist {
    top: 48px !important;
    right: 0px !important;
	left: 25px !important;
	min-width: 100% !important;
	overflow: hidden !important;
  }
 
  .crs-navlist-item-a {
	background: #333;
	display: inline;
  }
 
  .crs-header, .crs-navlist, .crs-navlist-item-a {  
  	padding: 0 10px 0 10px !important;
  }
  
  .crs-navlist-item-rightend {
	display: none;
  }
  
  .crs-sidebar {
	float: left;
	width: 100% !important;
  }
}


a {
	color: white;
	text-decoration:none;
	cursor: pointer;
}

a:hover > .crs-navlist-item-ddm {
	-moz-box-shadow: inset 0px -35px 35px #777;
	-webkit-box-shadow: inset 0px -35px 35px #777;
	box-shadow: inset 0px -35px 35px #777;	
}

body {
	background: #222;
	color: white;
	font-family: "Open Sans",sans-serif;
	font-size: 13px;
	line-height: 140%; 
}

ul li { display: inline; }

.crs-article {
	float: left;
	width: 65%;
	margin-left: 5px;
}

.crs-article-title {
	font-family: "Roboto";
	font-size: 40px;
	font-weight: 100;
	padding-top: 10px;
	padding-bottom: 30px;
}

.crs-mainwrapper {
	display: block;
	margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;

}

.crs-navlist {

	display: inline;
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 700;
	height: 85px;
	letter-spacing: 1px;
    list-style: none outside none;
	list-style-type: none;
	position: absolute;
	right: 100px;
	margin-top:35px; /* negative half of the height */

}

.crs-header {
    background: none repeat scroll 0 0 #444;
    font-weight: 600;
	height: 86px;
    top: 0;
    width: 100%;
	-moz-box-shadow: inset 0px -35px 35px #333;
	-webkit-box-shadow: inset 0px -35px 35px #333;
	box-shadow: inset 0px -35px 35px #333;

}

.crs-logospace {
	position: absolute;
	top: 15px;
	left: 100px;
	max-width: 200px;
	overflow: hidden;
	z-index: 9999;
}

.crs-navlist-item-rightend {
	height: 100%;
	content: "-";
	padding: 30px 1px 30px 1px;
	box-shadow: -1px 0px 1px #555;
	border-left: solid 1px #222;
}

.crs-navlist-item-a {
	height: 100%;
	margin: 0px;
	padding: 30px 20px 30px 20px;
	box-shadow: -1px 0px 1px #555;
	border-left: solid 1px #222;
}

.crs-navlist-item-a:last-of-type {
	border-right: solid 1px #222;
}

.crs-sidebar {
	float: right;
	width: 30%;
	margin-right: 5px;
}

.crs-sidebar-expander {
	border: solid 1px black;
	margin-bottom: 20px;
}

.crs-sidebar-exp-title {
	background: black;
	margin: 0;
	padding: 10px 10px 10px 16px;
	color: white;
	font-family: "Roboto";
	font-weight: 100;
	font-size: 18pt;
	text-transform: uppercase;
}

.crs-sidebar-exp-text {
	color: black;
	background: #c5c5c5;
	font-size: 9pt;
	font-weight: 600;
	padding: 5px 8px 8px 8px;
}

.dropmenudiv_a{
	position:absolute;
	top: 35px;
	left: -20px;
	border: 1px solid transparent;
	border-bottom-width: 0;
	font-size: 15px;
	font-weight: 500;
	font-family: "Roboto";
	line-height:140%;
	z-index:100;
	background-color: #222;
	width: 200px;
	visibility: hidden;
}


.dropmenudiv_a a{
	width: auto;
	display: block;
	text-indent: 5px;
	border-top: 0 solid #777;
	border-bottom: 1px solid #777; 
	padding: 2px 0;
	text-decoration: none;
	color: white;
}

* html .dropmenudiv_a a{ /*IE only hack*/
	width: 100%;
}

.dropmenudiv_a a:hover{
	background-color: #333;
	color: white;
}

.size_enforcer { /* For browsers not IE */
	min-width: 940px;
	min-height: 600px;
	overflow: hidden;
}